<%= javascript_include_tag 'page_specific/staffs_teams' %>

<table>
  <thead>
    <tr>
      <th>学年</th>
      <th>性別</th>
      <th>氏名</th>
      <!-- ko foreach: teams -->
        <th data-bind="text: name"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: staffs, as: 'staff' }">
    <tr>
      <td data-bind="text: grade"></td>
      <td data-bind="text: gender"></td>
      <th data-bind="text: name"></th>
      <!-- ko foreach: { data: $parent.teams, as: 'team' } -->
        <!-- ko if: staff.participate_in(team.id) -->
          <td><button data-bind="click: staff.unparticipate.bind(team)">参加済み</button></td>
        <!-- /ko -->
        <!-- ko ifnot: staff.participate_in(team.id) -->
          <td><button data-bind="click: staff.participate.bind(team)">参加する</button></td>
        <!-- /ko -->
      <!-- /ko -->
    </tr>
  </tbody>
</table>
