<%= javascript_include_tag 'page_specific/participation_manager' %>

<table class="index_table">
  <thead>
    <tr>
      <th>学年</th>
      <th>性別</th>
      <th>氏名</th>
      <!-- ko foreach: teams -->
        <!-- ko ifnot: name == '休憩' -->
          <th data-bind="text: name"></th>
        <!-- /ko -->
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: staffs, as: 'staff' }">
    <tr data-bind="css: { even: $index() % 2 == 1 }">
      <td data-bind="text: grade"></td>
      <td data-bind="text: gender"></td>
      <td data-bind="text: name"></td>
      <!-- ko foreach: { data: $parent.teams, as: 'team' } -->
        <!-- ko ifnot: team.name == '休憩' -->
          <td>
            <div class="switch" data-bind="click: function(data, event) { staff.toggle(team, data, event) }">
              <span class="switch-input" data-bind="css: { checked: staff.participateIn(team) }"></span>
              <span class="switch-label" data-on="参加" data-off="不参加"></span>
              <span class="switch-handle"></span>
            </div>
          </td>
        <!-- /ko -->
      <!-- /ko -->
    </tr>
  </tbody>
</table>
