<%= javascript_include_tag 'page_specific/quorum_manager' %>

<table>
  <thead>
    <tr>
      <th>チーム</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: teams, as: 'team' }">
    <tr>
      <th data-bind="text: name"></th>
      <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
        <td>
          <div class="slider" data-bind="attr: { 'data-value': team.quorum(period) }">
            <div class="slider-inner" data-value="10"></div>
            <div class="slider-inner" data-value="9"></div>
            <div class="slider-inner" data-value="8"></div>
            <div class="slider-inner" data-value="7"></div>
            <div class="slider-inner" data-value="6"></div>
            <div class="slider-inner" data-value="5"></div>
            <div class="slider-inner" data-value="4"></div>
            <div class="slider-inner" data-value="3"></div>
            <div class="slider-inner" data-value="2"></div>
            <div class="slider-inner" data-value="1"></div>
            <output data-bind="text: team.quorum(period)"></output>
          </div>
        </td>
      <!-- /ko -->
    </tr>
  </tbody>
</table>
