<table class="index_table">
  <thead>
    <tr>
      <th>チーム</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: teams, as: 'team' }">
    <!-- ko ifnot: team.name == "休憩" -->
      <tr data-bind="css: { even: $index() % 2 == 0 }">
        <td data-bind="text: name"></td>
        <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
          <td>
            <div class="slider" data-bind="attr: { 'data-value': team.quorum(period) }">
              <div class="slider-inner" data-value="9" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 9, data, event) }"></div>
              <div class="slider-inner" data-value="8" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 8, data, event) }"></div>
              <div class="slider-inner" data-value="7" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 7, data, event) }"></div>
              <div class="slider-inner" data-value="6" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 6, data, event) }"></div>
              <div class="slider-inner" data-value="5" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 5, data, event) }"></div>
              <div class="slider-inner" data-value="4" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 4, data, event) }"></div>
              <div class="slider-inner" data-value="3" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 3, data, event) }"></div>
              <div class="slider-inner" data-value="2" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 2, data, event) }"></div>
              <div class="slider-inner" data-value="1" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 1, data, event) }"></div>
              <div class="slider-inner" data-value="0" data-bind="click: function(data, event) { $root.updateQuorum(period, team, 0, data, event) }"></div>
              <output data-bind="text: team.quorum(period)"></output>
            </div>
          </td>
        <!-- /ko -->
      </tr>
    <!-- /ko -->
  </tbody>
</table>
