<table class="index_table">
  <thead>
    <tr>
      <th>学年</th>
      <th>性別</th>
      <th>氏名</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: staffs, as: 'staff' }">
    <tr data-bind="css: { even: $index() % 2 == 1 }">
      <td data-bind="text: grade"></td>
      <td data-bind="text: gender"></td>
      <td data-bind="text: name"></td>
      <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
        <!-- ko if: staff.teamWorkingWith(period) -->
          <td>
            <span data-bind="text: staff.teamWorkingWith(period)"></span>
            <button data-bind="click: function(data, event) { staff.destroyShift(period) }">取消</button>
          </td>
        <!-- /ko -->
        <!-- ko ifnot: staff.teamWorkingWith(period) -->
          <td data-bind="click: function(data, event) { staff.createShift(period, $root.selectedTeam(), data, event) }"></td>
        <!-- /ko -->
      <!-- /ko -->
    </tr>
  </tbody>
</table>

<ul data-bind="foreach: { data: teams, as: 'team' }">
  <li data-bind="text: team.name, click: $parent.selectedTeam.bind(team)"></li>
</ul>
