<table class="index_table">
  <thead>
    <tr>
      <th>学年</th>
      <th>性別</th>
      <th>氏名</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: staffs, as: 'staff' }">
    <tr data-bind="css: { even: $index() % 2 == 1 }">
      <td data-bind="text: grade"></td>
      <td data-bind="text: gender"></td>
      <td data-bind="text: name"></td>
      <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
        <td class="shift-cell">
          <div class="shift-cell-body tooltip" data-bind="attr: { 'data-tooltip': staff.name + ', ' + period.time }">
            <span data-bind="text: staff.teamWorkingWith(period)"></span>
          </div>

          <div class="selector">
            <div class="selector-header">
              <h1>チームを選択</h1>
              <div class="selector-close">&times;</div>
            </div>
            <div class="selector-body">
              <ul>
                <li data-bind="css: { clickable: staff.teamWorkingWith(period) }, click: function(data, event){ staff.toggleShift(period, null); }">取消</li>
                <!-- ko foreach: { data: $root.teams, as: 'team' } -->
                  <li data-bind="text: team.name, css: { clickable: staff.findParticipation(team) }, click: function(data, event){ staff.toggleShift(period, team); }"></li>
                <!-- /ko -->
              </ul>
            </div>
          </div>

        </td>
      <!-- /ko -->
    </tr>
  </tbody>
</table>

<table class="index_table">
  <thead>
    <tr>
      <th>チーム</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: teams, as: 'team' }">
    <!-- ko ifnot: team.name == "休憩" -->
      <tr data-bind="css: { even: $index() % 2 == 0 }">
        <td data-bind="text: team.name"></td>
        <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
          <td>
            <ul data-bind="foreach: { data: $root.staffs, as: 'staff' }">
              <!-- ko if: staff.teamWorkingWith(period) == team.name -->
                <li data-bind="text: staff.name"></li>
              <!-- /ko -->
            </ul>
          </td>
        <!-- /ko -->
      </tr>
    <!-- /ko -->
  </tbody>
</table>
