<%= javascript_include_tag 'page_specific/shifts_designer' %>

<table>
  <thead>
    <tr>
      <th>学年</th>
      <th>性別</th>
      <th>氏名</th>
      <!-- ko foreach: periods -->
        <th data-bind="text: time"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: { data: staffs, as: 'staff' }">
    <tr>
      <td data-bind="text: grade"></td>
      <td data-bind="text: gender"></td>
      <th data-bind="text: name"></th>
      <!-- ko foreach: { data: $parent.periods, as: 'period' } -->
        <td data-bind="text: staff.teamWorkingWith(period)"></td>
      <!-- /ko -->
    </tr>
  </tbody>
</table>

<ul data-bind="foreach: { data: teams, as: 'team' }">
  <li data-bind="text: team.name, click: $parent.selectedTeam.bind(team)"></li>
</ul>
