.shift-cell {
  position: relative;
  padding: 0 !important;

  .shift-cell-body {
    display: block;
    box-sizing: border-box;
    width: inherit;
    height: 35px;
    padding: 10px 12px 8px 12px;
    cursor: pointer;
  }

  .selector {
    position: absolute;
    top: 35px; left: 0px;
    z-index: 10;
    display: none;
    width: 240px;
    margin: 0;
    padding: 0;
    background: #fff;

    .selector-header {
      position: relative;
      display: block;
      width: 100%;
      height: 24px;
      background: #444;

      h1 {
        position: absolute;
        top: 0; left: 20px;
        display: block;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        color: #fff;
      }

      .selector-close {
        position: absolute;
        top: 0; right: 0;
        display: block;
        height: 24px;
        width: 24px;
        font-size: 28px;
        line-height: 24px;
        text-align: center;
        color: #ddd;
        cursor: pointer;
      }
    }

    .selector-body {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #444;
      margin: 0;
      padding: 10px 20px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
          width: 99px;
          float: left;
          color: #ccc;

          &.clickable {
            color: inherit;
            cursor: pointer;
          }
        }

        &::after {
          display: block;
          content: '';
          clear: both;
        }
      }
    }
  }

}

.shift-cell.active {
  .shift-cell-body {
    padding: 8px 10px 6px 10px;
    border: 2px solid #bbb;
  }

  .selector {
    display: block;
  }
}

.working-staffs {
  position: relative;

  ul {
    position: absolute;
    top: 8px; left: 12px;
    margin: 3px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      width: 90px;
      height: 20px;
      border: 1px solid #47a8d8;
      margin: 2px 0;
      padding: 0 3px;
      line-height: 20px;
      background: #e1f1f9;
      overflow: hidden;

      span {
        margin: 0;
        line-height: inherit;
      }
    }
  }

  ul.quorum-dummy {
    position: static;

    li {
      border: 1px solid #aaa;
      background: #eee;
    }
  }
}
